.outerbox
{
    display: flex;
    flex-direction: row;
}

.imageholder
{
    position: relative;
    margin-right: 2rem;
    margin-bottom: 0px;
    flex-shrink: 0;
}
.upperstuff
{
    display: flex;
    flex-direction: column;
    max-width: 75%;
}
.outbox
{
    display: flex;
    flex-direction: row;
    margin-bottom: 10px;;
}

.ingred
{
    margin: 0.5rem 0px;
    font-size: 1.4rem;
    color: rgb(79, 79, 79);
    max-width: 75%;

}