/* RestCard.css */

/* Main container */
.sc-bnoQSP.bOwXEI {
  display: flex;
  flex-direction: column;
  border: 1px solid #e74c3c; /* Red border for the card */
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  background-color: #ffffff; /* White background for the card */
  border-radius: 8px;
  overflow: hidden;
  width: 300px;
  height: 400px;
  margin: 10px;
}

/* Restaurant name */
.sc-bnoQSP.bOwXEI .sc-iunyMi.ebClxe .sc-ggjMlp.dBSBAF .sc-1hp8d8a-0.sc-bjbPDc.gPenjS {
  font-size: 1.2rem;
  font-weight: bold;
  color: #e74c3c; /* Red color for the restaurant name */
}

/* Rating background */
.sc-bnoQSP.bOwXEI .sc-iunyMi.ebClxe .sc-coJghx.geEgZi .sc-1q7bklc-1.cILgox {
  font-size: 0.8rem;
  color: #ffffff;
  background-color: #f39c12; /* Orange color for the rating background */
  border-radius: 3px;
  padding: 4px 8px;
}

/* Restaurant keywords */
.sc-bnoQSP.bOwXEI .sc-iunyMi.ebClxe .sc-eUqAvv.ldndH .sc-1hez2tp-0.sc-ZxTAX.kXcPIC {
  font-size: 0.8rem;
  color: #777777;
}

/* Price information */
.sc-bnoQSP.bOwXEI .sc-iunyMi.ebClxe .sc-eUqAvv.ldndH .sc-1hez2tp-0.sc-ZxTAX.fMtKjK {
  font-size: 0.8rem;
  color: #777777;
}

/* Opening time */
.sc-bnoQSP.bOwXEI .sc-iunyMi.ebClxe .sc-hIjJCg.gmLXgu .sc-1hez2tp-0.sc-iYscQK.kruwyz {
  color: #ab000d; /* Red color for the opening time */
}

/* Custom element background */
.sc-bnoQSP.bOwXEI .sc-byuwlG.rRONu .sc-hnfMjv.iZBToL .sc-s1isp7-1.fRhCDy.sc-dgEPJF.bQEgSQ {
  background-color: #f9f9f9; /* Light gray background for the custom element */
}

/* Restaurant partner information */
.sc-bnoQSP.bOwXEI .sc-byuwlG.rRONu .sc-hnfMjv.iZBToL .sc-cCzqYu.gNTSIg .sc-1hez2tp-0.sc-cCDHgp.kTgWNO {
  font-size: 0.7rem;
  color: #777777;
}
